<a href="https://colab.research.google.com/github/KatiaOrtiz20/Mineria_de_datos/blob/main/EjerciciosBasicosPython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# EJERCICIOS

**Ejercicio 1**

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [ ]:
matricula = 1799830
nombre = "Katia"
print("Mi nombre es",nombre,"y mi matricula es",matricula)

Mi nombre es Katia y mi matricula es 1799830

**Ejercicio 2**

Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

Utilizando el loop de while

In [ ]:
valora = float(input("Ingrese el primer número: "))
valorb = float(input("Ingrese el segundo número: "))
op = 0
while True:
    print("""
    Escoja la acción que desea
    
    1) Sumar los dos números
    2) Restar el primer número menos el segundo
    3) Restar el segundo número menos el primero
    4) Multiplicar los dos números
    5) Dividir el primer número entre el segundo
    6) Dividir el segundo número entre el primero
    7) Elevar el primer número al segundo
    8) Elevar el segundo número al primero
    9) Finalizar
    """)
    op = int(input("Elige una opción: ") )  
    if op == 1:
        print(" ")
        print("RESULTADO: La suma es ",valora+valorb)
    elif op == 2:
        print(" ")
        print("RESULTADO: La resta es",valora-valorb)
    elif op == 3:
        print(" ")
        print("RESULTADO: La resta es",valorb-valora)
    elif op == 4:
        print(" ")
        print("RESULTADO: La multiplicación es",valora*valorb)
    elif op == 5:
        print(" ")
        print("RESULTADO: La división es",valora/valorb)
    elif op == 6:
        print(" ")
        print("RESULTADO: La división es",valorb/valora)
    elif op == 7:
        print(" ")
        print("RESULTADO: El exponencial es",valora**valorb)
    elif op == 8:
        print(" ")
        print("RESULTADO: El exponencial es",valorb**valora) 
    elif op == 9:
        break     
    else:
        print("Opción no válida, vuelva a escoger")

Ingrese el primer número: 2
Ingrese el segundo número: 3

    Escoja la acción que desea

    1) Sumar los dos números
    2) Restar el primer número menos el segundo
    3) Restar el segundo número menos el primero
    4) Multiplicar los dos números
    5) Dividir el primer número entre el segundo
    6) Dividir el segundo número entre el primero
    7) Elevar el primer número al segundo
    8) Elevar el segundo número al primero
    9) Finalizar

Elige una opción: 1

RESULTADO: La suma de 2.0 + 3.0 es igual a 5.0

    Escoja la acción que desea

    1) Sumar los dos números
    2) Restar el primer número menos el segundo
    3) Restar el segundo número menos el primero
    4) Multiplicar los dos números
    5) Dividir el primer número entre el segundo
    6) Dividir el segundo número entre el primero
    7) Elevar el primer número al segundo
    8) Elevar el segundo número al primero
    9) Finalizar

Elige una opción: 9

**Ejercicio 3**

Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:
for i in range(3,31,3):
    print (i)
suma= sum(range(3,31,3))
print("La suma de los multiplos de 3 es:",suma)

3
6
9
12
15
18
21
24
27
30
La suma de los multiplos de 3 es: 165

**Ejercicio 4**

Con una función de if else, revisar si un número es par o es impar.

In [ ]:
num = int(input("Ingrese el número: "))
new = num%2

if new == 0:
  print(num,"es par")
else:
  print(num,"es impar")

Ingrese el número: 2
2 es par

Con una función de if else, revisar si un número es primo o no.

In [ ]:
numero= int(input("Ingrese el número: "))
cont = 0
i=2

while numero>i:
  if numero%i==0:
    print(numero,"no es primo")
    break
  elif numero%i!=0:
    i=i+1
  if numero==i:
    print(numero,"es primo")

Ingrese el número: 43
43 es primo

**Ejercicio 5**

Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
valora = float(input("Ingrese el primer número: "))
valorb = float(input("Ingrese el segundo número: "))

op = 0
import math as m
while True:
    print("""
    Escoja la acción que desea
    
    1) Sumar los dos números
    2) Restar el primer número menos el segundo
    3) Restar el segundo número menos el primero
    4) Multiplicar los dos números
    5) Dividir el primer número entre el segundo
    6) Dividir el segundo número entre el primero
    7) Elevar el primer número al segundo
    8) Elevar el segundo número al primero
    9) Finalizar
    """)
    op = int(input("Elige una opción: ") 
   
     if op == 1:
        print(" ")
        print("RESULTADO: La suma es ",m.)
    elif op == 2:
        print(" ")
        print("RESULTADO: La resta es",valora-valorb)
    elif op == 3:
        print(" ")
        print("RESULTADO: La resta es",valorb-valora)
    elif op == 4:
        print(" ")
        print("RESULTADO: La multiplicación es",valora*valorb)
    elif op == 5:
        print(" ")
        print("RESULTADO: La división es",valora/valorb)
    elif op == 6:
        print(" ")
        print("RESULTADO: La división es",valorb/valora)
    elif op == 7:
        print(" ")
        print("RESULTADO: El exponencial es"math.pow(valora,valorb))
    elif op == 8:
        print(" ")
        print("RESULTADO: El exponencial es",math.pow(valorb,valora)) 
    elif op == 9:
        break     
    else:
        print("Opción no válida, vuelva a escoger")

# Ejercicios con estructuras básicas de python.

**TUPLAS**

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [ ]:
varflot= 3.5
varinte=5
varbolea= False 
varcomp= 3+5j
print(varflot,"<-------es una variable flotante\n",varinte,"<--------es una variable integer\n",varbolea,"<----es una varaible boleana\n",varcomp,"<---es una variable compleja")

3.5 <-------es una variable flotante
 5 <--------es una variable integer
 False <----es una varaible boleana
 (3+5j) <---es una variable compleja

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [ ]:
t= (2,7,9,15,7)

print("El primer valor es",t[0])
print("El ultimo valor es",t[4])

El primer valor es 2
El ultimo valor es 7

Añadir 3 valores de string a la tupla.

In [ ]:
t= (2,7,"Katia",9,15,"Yoongi",7)

t[2]

'Katia'

Verificar si una variable existe dentro de la tupla.

In [ ]:
BTS=("Taetae","Yoongi","Jiminshi","Jinie","Joonie","Hobi","Jungkookie")
if "Joonie" in BTS:
  print("Si está en BTS")
else:
   print("No está en BTS")

Si está en BTS

 **LISTAS**

Crear una lista con 40 elementos aleatorios enteros.

In [1]:
from random import randint #Randint sirve para obtener los numeros random dentro de un intervalo
n=0
lista40= []

while n < 40:
    numrandom = randint(1,100) 
    if numrandom in lista40: 
        pass
    else:
        lista40.append(numrandom) 
        n = n + 1 
        
print("Lista:",lista40,"\n")

Lista: [4, 28, 94, 38, 61, 45, 49, 81, 83, 25, 13, 95, 56, 91, 84, 10, 96, 46, 66, 98, 93, 32, 50, 29, 20, 35, 30, 53, 62, 22, 64, 40, 31, 23, 58, 24, 47, 34, 72, 79]

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [4]:
listapar = []
listaimpar = []
def PareseImpares(lista40):
    i=0
    for i in lista40:
        if i%2 == 0:
            listapar.append(i)
        else:
            listaimpar.append(i)
    print("Numeros pares:   ",listapar)
    print("Numeros impares: ",listaimpar)
PareseImpares (lista40)

Numeros pares:    [4, 28, 94, 38, 56, 84, 10, 96, 46, 66, 98, 32, 50, 20, 30, 62, 22, 64, 40, 58, 24, 34, 72]
Numeros impares:  [61, 45, 49, 81, 83, 25, 13, 95, 91, 93, 29, 35, 53, 31, 23, 47, 79]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [6]:
LongPares=len(listapar)
LongImpares=len(listaimpar)
print("La longitud de la lista de pares: ", LongPares,"\nLa longitud de la lista de impares: ", LongImpares)

La longitud de la lista de pares:  23
La longitud de la lista de impares:  17

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [9]:
mayAmen= sorted(listapar,reverse=True)
menAmay= sorted(listaimpar)
print("Listas ordenadas de: \nMayor a menor: ", mayAmen, "\nMenor a mayor: ", menAmay)

Listas ordenadas de:
Mayor a menor:  [98, 96, 94, 84, 72, 66, 64, 62, 58, 56, 50, 46, 40, 38, 34, 32, 30, 28, 24, 22, 20, 10, 4]
Menor a mayor:  [13, 23, 25, 29, 31, 35, 45, 47, 49, 53, 61, 79, 81, 83, 91, 93, 95]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [13]:
print("Mi lista es: ",lista40)
lista40.reverse()
len(lista40)
print("El primer termino de mi lista es:",lista40[0])
print(lista40.reverse())

Mi lista es:  [4, 28, 94, 38, 61, 45, 49, 81, 83, 25, 13, 95, 56, 91, 84, 10, 96, 46, 66, 98, 93, 32, 50, 29, 20, 35, 30, 53, 62, 22, 64, 40, 31, 23, 58, 24, 47, 34, 72, 79, 10, 10]
El primer termino de mi lista es: 10
None

**DICCIONARIOS**

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [ ]:
diccionario = {"Jungkook":23, "Taehyung":25, "Yoongi":28, "Namjoon":27, "Hobi":27,"Jin":29}
for nombre, edad in diccionario.items():
    print(nombre, 'tiene', edad, 'años')

Jungkook tiene 23 años
Taehyung tiene 25 años
Yoongi tiene 28 años
Namjoon tiene 27 años
Hobi tiene 27 años
Jin tiene 29 años

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [15]:
diccionario = {"Jungkook":23, "Taehyung":25, "Yoongi":28, "Namjoon":27, "Hobi":27,"Jin":29}
ListaEdades = diccionario.values()
ListaEdades = sorted(ListaEdades)
print("Las edades de menor a mayor son: ", ListaEdades)

Las edades de menor a mayor son:  [23, 25, 27, 27, 28, 29]

Usando el diccionario y un loop, imprimir solo los nombres.

In [16]:
print("Los nombres son:")
for i in diccionario:
    print(i)

Los nombres son:
Jungkook
Taehyung
Yoongi
Namjoon
Hobi
Jin

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [17]:
diccionario['Jimin']=25
diccionario['Bang PD']=45
print("Diccionario",diccionario)

Diccionario {'Jungkook': 23, 'Taehyung': 25, 'Yoongi': 28, 'Namjoon': 27, 'Hobi': 27, 'Jin': 29, 'Jimin': 25, 'Bang PD': 45}

**SETS**

Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [42]:
import random as r
Set=set()
Lista=[]
aux=0
for i in range(100):
    aux=r.randint(1,25)
    Lista.append(aux)
Set=set(Lista)
print("Set con numeros aleatorios: ", Set)

Set con numeros aleatorios:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

Comprueba la longitud de tu set.

In [43]:
print("La longitud de mi set es:", len(Set))

La longitud de mi set es: 25


Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [37]:
list5= []
i = 0
while i< 5:
    num = r.randint(1,10)
    list5.append(num)
    i = i+1
i= 0
while i< 5:
    comparador = list5[i] in Set
    print("\n",list5[i],", ¿Se encuentra en el set inicial? ",comparador)
    i = i+1

 3 , ¿Se encuentra en el set inicial?  False

 7 , ¿Se encuentra en el set inicial?  True

 2 , ¿Se encuentra en el set inicial?  True

 1 , ¿Se encuentra en el set inicial?  True

 3 , ¿Se encuentra en el set inicial?  False